@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
.igFrameBar {
  width: 400px;
  height: 200px;
  position: relative;
  background: #f2f2f2;
  margin: 15% auto 0px auto;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.igFrameBar:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
}

.igFrameBar:after {
  content: "";
  width: 100%;
  height: 50%;
  background: transparent;
  position: absolute;
  top: 25%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.igData {
  width: 20px;
  position: absolute;
  bottom: 1px;
  margin: 0px 0px 0px 0px;
  z-index: 99;
  float: left;
}

.igData1 {
  background: #9baec8;
  height: 0px;
  left: 47.14286px;
  -webkit-animation: showBar1 1.2s 0.1s forwards;
  animation: showBar1 1.2s 0.1s forwards;
}

.igData2 {
  background: #d9e1e8;
  height: 0px;
  left: 104.28571px;
  -webkit-animation: showBar2 1.2s 0.2s forwards;
  animation: showBar2 1.2s 0.2s forwards;
}

.igData3 {
  background: #2b90d9;
  height: 0px;
  left: 161.42857px;
  -webkit-animation: showBar3 1.2s 0.3s forwards;
  animation: showBar3 1.2s 0.3s forwards;
}

.igData4 {
  background: #8ec0e4;
  height: 0px;
  left: 218.57143px;
  -webkit-animation: showBar4 1.2s 0.4s forwards;
  animation: showBar4 1.2s 0.4s forwards;
}

.igData5 {
  background: #cadbe9;
  height: 0px;
  left: 275.71429px;
  -webkit-animation: showBar5 1.2s 0.5s forwards;
  animation: showBar5 1.2s 0.5s forwards;
}

.igData6 {
  background: #6aafe6;
  height: 0px;
  left: 332.85714px;
  -webkit-animation: showBar6 1.2s 0.6s forwards;
  animation: showBar6 1.2s 0.6s forwards;
}

.igData:before {
  position: absolute;
  top: -16px;
  font-size: 12px;
  color: #333;
  font-family: "roboto";
  font-weight: 300;
}

.igData1:before {
  content: "50";
}

.igData2:before {
  content: "40";
}

.igData3:before {
  content: "70";
}

.igData4:before {
  content: "22";
}

.igData5:before {
  content: "35";
}

.igData6:before {
  content: "40";
}

.igData:after {
  position: absolute;
  bottom: -55px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  color: #666;
  font-size: 14px;
  text-align: left;
  font-family: "roboto";
  font-weight: 300;
  width: 150px;
}

.igData1:after {
  content: "January";
}

.igData2:after {
  content: "February";
}

.igData3:after {
  content: "March";
}

.igData4:after {
  content: "April";
}

.igData5:after {
  content: "May";
}

.igData6:after {
  content: "June";
}

@-webkit-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50;
  }
}

@-webkit-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40;
  }
}

@-webkit-keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70;
  }
}

@-webkit-keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22;
  }
}

@-webkit-keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35;
  }
}

@-webkit-keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40;
  }
}

@keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 50;
  }
}

@keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 40;
  }
}

@keyframes showBar3 {
  0% {
    height: 0px;
  }
  100% {
    height: 70;
  }
}

@keyframes showBar4 {
  0% {
    height: 0px;
  }
  100% {
    height: 22;
  }
}

@keyframes showBar5 {
  0% {
    height: 0px;
  }
  100% {
    height: 35;
  }
}

@keyframes showBar6 {
  0% {
    height: 0px;
  }
  100% {
    height: 40;
  }
}
/*# sourceMappingURL=styles.css.map */