<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS3083 Aiports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home/home.css')}}">
</head>
<body>
  <h1 style="margin-top: 20px; margin-left: 10px;">Hello, Customer {{email}}</h1>

  <div class="list-group list-group-allign">

    <a href="./other-page.html" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">View My Flights</h6>
          <p class="mb-0 opacity-75">See purchased flight information. The default should be showing for the future flights.</p>
        </div>
      </div>
    </a>

    <a href="/flights/search" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Search for Flights</h6>
          <p class="mb-0 opacity-75">Search for future flights (one way or round trip) based on source city/airport name,
            destination city/airport name, dates (departure or return).</p>
        </div>      
      </div>
    </a>

    <a href="./other-page.html" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Give Ratings and Comment on Previous Flights</h6>
          <p class="mb-0 opacity-75">Rate and comment on previous flights.</p>
        </div>
      </div>
    </a>

    <a href="./other-page.html" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Track My Spending</h6>
          <p class="mb-0 opacity-75"> Default view will be total amount of money spent in the past year and a bar
            chart/table showing month-wise money spent for last 6 months. Specify
            a range of dates to view total amount of money spent within that range.</p>
        </div>      
      </div>
    </a>

    <a href="./logout" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Logout</h6>
          <p class="mb-0 opacity-75">Log out of the account.</p>
        </div>        
      </div>
    </a>

  </div>

</body>
</html> 