<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>َAnimated Login Form</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form/login.css') }}">
  </head>

  <body background = "{{ url_for('static',filename='images/inside_airport.jpg') }}">

<form class="box" action= "" method="post">

  <h1>Customer Login</h1>

  <input type="text" name="Email" placeholder="Email">

  <input type="password" name="Password" placeholder="Password">

  <input type="submit" name="" value="Login">
  {% if error %}
     <error> Error: {{ error }} <error>
  {% endif %}
</form>


  </body>
</html>