<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS3083 Aiports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home/home.css')}}">
</head>
<body>
  <h1 style="margin-top: 20px; margin-left: 10px;">Hello, Staff {{email}}!</h1>

  <div class="list-group list-group-allign">
    
    <a href="./view_flights" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">View Flights</h6>
          <p class="mb-0 opacity-75">Default will be showing all the future flights operated by the airline for
            the next 30 days. See all the current/future/past flights operated by the airline
            based on range of dates, source/destination airports/city etc. See
            all the customers of a particular flight.</p>
        </div>
      </div>
    </a>
    
    <a href="./create_flight" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Create New Flight</h6>
          <p class="mb-0 opacity-75">Create a new flight, providing all the needed data, via forms. 
            Defaults will be showing all the
            future flights operated by the airline for the next 30 days.</p>
        </div>      
      </div>
    </a>

    <a href="./change_flight" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Change Status of Flight</h6>
          <p class="mb-0 opacity-75">Change a flight status (from on-time to delayed or vice versa) via
            forms.</p>
        </div>
      </div>
    </a>
    
    <a href="./create_airplane" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Add Airplane to the System</h6>
          <p class="mb-0 opacity-75">Add a new airplane, providing all the needed data, via forms.</p>
        </div>      
      </div>
    </a>

    <a href="./create_airport" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Add Airport to the System</h6>
            <p class="mb-0 opacity-75">Add a new airport, providing all the needed data, via forms.</p>
          </div>      
        </div>
    </a>

    <a href="./view_ratings" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">View Flight Ratings</h6>
            <p class="mb-0 opacity-75">See each flight’s average ratings and all the comments
                and ratings of that flight given by the customers.</p>
          </div>      
        </div>
    </a>

    <a href="./view_customers" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">View Frequent Customers</h6>
            <p class="mb-0 opacity-75">See the most frequent customer within
                the last year. See a list of all flights a particular customer has
                taken on your airline.</p>
          </div>
        </div>
      </a>
      
      <a href="./view_reports" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">View Reports</h6>
            <p class="mb-0 opacity-75">Total amounts of ticket sold based on range of dates/last year/last month etc. 
                Month-wise tickets sold in a bar chart/table.</p>
          </div>      
        </div>
      </a>
  
      <a href="./view_revenue" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">View Earned Revenue</h6>
            <p class="mb-0 opacity-75">Show total amount of revenue earned from ticket sales in the last month and
                last year.</p>
          </div>
        </div>
      </a>
      
      <a href="./view_destination" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">View Top Destinations</h6>
            <p class="mb-0 opacity-75"> Find the top 3 most popular destinations for last 3 months and last year</p>
          </div>      
        </div>
      </a>


    
    <a href="./logout" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="{{url_for('static',filename='svg/person-fill.svg')}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 icon-align">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Logout</h6>
          <p class="mb-0 opacity-75">Log out of the account.</p>
        </div>        
      </div>
    </a>
  
  </div>

</body>
</html>