<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>َAnimated Register Form</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register.css') }}">

  </head>

  <body>

<form class="box" action= "" method="post">

  <h1>Staff Register</h1>

  <input type="text" name="Username" placeholder="Username" required>

  <input type="password" name="Password" placeholder="Password" required>
  
  <input type="text" name="First Name" placeholder="First Name" required>
  
  <input type="text" name="Last Name" placeholder="Last Name" required>

  <input type="text" name="Airline" placeholder="Airline" required>

  <input type="text" name="Date Of Birth" placeholder="Date Of Birth" required>
  
  <input type="submit" name="" value="Register">
  {% if error %}
	<error_status> {{status}} <status>
  {% else %}
	{% if error %}
		<status> {{status}} <status>
	{% endif %}
  {% endif %}
</form>


  </body>
</html>