{% extends "flight/base.html" %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Time Flown</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
			<td>
				<a href={{url_for("staff.view_customer", cust_email = customer.cust_email)}}>
					<div style="height:100%;width:100%">
						{{ customer.cust_email }}
					</div>
				</a>
			</td>
          <td>{{ customer.cust_email }}</td>
          <td>{{ customer.times }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}